button {
    height: 2vw;
    width: 2vw;
    border-radius: 5px;
    border: 1px solid;
    margin: 4px;
    font-size: 1.5vw;
    box-shadow: 5px 5px 5px gray;

    background-color: cornflowerblue;
}

button:hover {
    color: cyan;
    border-color: cyan;
    box-shadow: 0px 5px 25px cyan;
}