.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0
}

.NavBar > li {
    background-color: cadetblue;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid;
    list-style: none;
    text-align: center;
    width: calc((100% / 3) - 1%);
}

.NavBar > li:hover {
    color: rgb(255, 255, 255);
    list-style: none;
    text-shadow: 0px 5px 25px rgb(255, 255, 255);
    box-shadow: 0px 5px 25px rgb(255, 255, 255);
}